<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <button class="menu-item top-item">Иконка 1</button>
        <button class="menu-item top-item">Иконка 2</button>
        <button class="menu-item top-item">Иконка 3</button>
        <button class="menu-item bottom-item">Иконка 4</button>
    </div>
</body>
</html>