<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <button class="menu-item top-item">
            <img src="~/content/images/account/user.png" alt="account_button">
        </button>
        <button class="menu-item top-item">
            <img src="~/content/images/account/setting.png" alt="settings_button">
        </button>
        <button class="menu-item bottom-item">
            <img src="~/content/images/account/exite.png" alt="exite_button">
        </button>
    </div>
</body>
</html>