<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="menu-item top-item" alt="account"><p>Аккаунт</p> <img src="" alt="account"</button>
            <button class="menu-item top-item" alt="settings"><p>Настройки</p></button>
            <button class="menu-item bottom-item" alt="exite"><p>Выход</p></button>
        </div>

        @*<div class="content">
                <div class="avatar-container">
                    <img src="~/content/images/account/avatar-placeholder.png" alt="photo" class="avatar">
                </div>

                <div class="main-info">
                    <p>Здесь будет текст или другой контент.</p>
                </div>
        </div>*@
    </div>
</body>
</html>