<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
       
        <div class="main-data">
            <div class="top-part">
                @*Аватарка пользователя*@
                <div class="avatar-container">
                    <img src="/content/images/account/avatar-placeholder.png" id="photo" class="avatar">
                </div>
                @*Плашка с данными*@
            <div class="info-box">
                @*ФИО*@
                <p id="name">ФИО</p>
                <hr />
                @*Табльный номер*@
                <div class="text-container">
                    <span class="text-1">Табельный номер:</span>
                    <span class="text-2" id="tabnum">XXXXXX</span>
                </div>
                <hr />
                @*Место работы*@
                <div class="text-container">
                    <span class="text-1">Место работы:</span>
                    <span class="text-2" id="tabnum">ПАО СБЕРБАНК/ДВ/Компетенции по защите данных</span>
                </div>
            </div>
            </div>
            <div class="bottom-part">
            </div>
        </div>
    </div>
    <script src="/js/change_style.js"></script>
</body>
</html>