<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        @*Боковое меню*@
        <div class="sidebar">
            <div class="top-button">
                <button class="menu-item top-item" alt="account"><p>Аккаунт</p> <img src="~/content/images/account/account.png" alt="account" /></button>
                <button class="menu-item top-item" alt="settings"><p>Настройки</p><img src="~/content/images/account/setting.png" alt="setting" /></button>
            </div>

            <div class="bottom-button">
                <button class="menu-item bottom-item" alt="exite"><p>Выход</p><img src="~/content/images/account/exite.png" alt="exite" /></button>
                <button class="menu-item bottom-item" alt="change_theme" onclick="toggleTheme()"><p>Тума</p></button>
            </div>
        </div>
        <div class="main-data">
            <div class="top-part">
                @*Аватарка пользователя*@
                <div class="avatar-container">
                    <img src="/content/images/account/avatar-placeholder.png" alt="photo" class="avatar">
                </div>
                @*Плашка с данными*@
                <div class="info-box">
                    @*ФИО*@
                    <p id="name">ФИО</p>
                    @*Табльный номер*@
                    <div class="text-container">
                        <span class="text-1">Табельный номер:</span>
                        <span class="text-2" id="tabnum">XXXXXX</span>
                    </div>
                    @*Место работы*@
                    <div class="text-container">
                        <span class="text-1">Место работы:</span>
                        <span class="text-2" id="tabnum">ПАО СБЕРБАНК/ДВ/Компетенции по защите данных</span>
                    </div>
                </div>
            </div>
            <div class="bottom-part">
            </div>
        </div>
    </div>
    <script src="/js/change_account_style.js"></script>
</body>
</html>