<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="menu-item top-item" alt="account"><p>Аккаунт</p> <img src="~/content/images/account/account.png" alt="account" /></button>
            <button class="menu-item top-item" alt="settings"><p>Настройки</p><img src="~/content/images/account/setting.png" alt="setting" /></button>
            <button class="menu-item bottom-item" alt="exite"><p>Выход</p><img src="~/content/images/account/exite.png" alt="exite" /></button>
        </div>
        <div class="avatar-container">
            <img src="/content/images/account/avatar-placeholder.png" alt="photo" class="avatar">
        </div>

        <div class="info-box">
            <p id="name">Кто-то здесь будет</p>
            <div class="text-container">
                <span class="text-1">Табельный номер:</span>
                <span class="text-2" id="tabnum">XXXXXX</span>
            </div>
            <div class="text-container">
                <span class="text-1">Место работы:</span>
                <span class="text-2" id="tabnum">ПАО СБЕРБАНК/ДВ/Компетенции по защите данных</span>
            </div>
        </div>

    </div>
</body>
</html>