<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/setting.css" asp-append-version="true" />
</head>
<body>
    <script src="/js/change_style.js"></script>
</body>
</html>
