<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/setting.css" asp-append-version="true" />
</head>
<body>
    <div class="container">        
        <div class="main-data">
            <h1>Настройки</h1>
            <hr />
            <div class="setting-button">
                <button class="setting-menu top-button" id="change_password"><p>Изменить пароль</p> <img src="~/content/images/account/password.png" alt="account" /></button>
                <hr />
            </div>
        </div>
    </div>
</body>
</html>
