<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/messenger.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="main-data">
            <h1>Мессенджеры</h1>
            <hr />
            <div class="messenger-button">
                <button class="messenger-menu " id=""><p>Здесь будет название</p> </button>
            </div>
        </div>
</body>
</html>