<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/authorisation_style.css" />
</head>
<body>
    <div class="auth-form">
        <div class="logo">
            <!-- Логотип -->
            <img src="path/to/logo.png" alt="Logo">
        </div>
        <form action="#" method="post">
            <input type="text" placeholder="Логин" required>
            <input type="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
            <a href="#">Забыли пароль?</a>
        </form>
    </div>
</body>
</html>