<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/authorisation_style.css" asp-append-version="true">
</head>
<body>
    <div class="authorisation_form">
        <h1 class="text_logo">УВЕДОМЛЕНИЯ</h1>
        <form action="#" method="post">
            <input type="text" placeholder="Логин" required>
            <input type="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
