:root {
    /*Стили для светлой темы*/
    --background-account: linear-gradient(to top, #0e0e0e, #004D40);
    --background-item: #212020;
    --text-color: white;
    --shadow: 4px 4px 10px #08a652;
    --line-color: #08a652;
    /*Постоянная часть стилей*/
    --radius-item: 10px;
    --font: Roboto, sans-serif;
    --margin-size: 10px;
    /*Стили для тёмной темы*/
    --background-account-light: linear-gradient(to top, white, #21ba72);
    --background-item-light: #f2f2f3;
    --text-color-light: #000000;
    --shadow-light: 4px 4px 10px #808080;
    --line-color-light: #808080;
}

/* Основной стиль для body */
body {
    font-family: var(--font);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--background-account);
}

    body.light-mode {
        background: var(--background-account-light);
    }

/* Контейнер для сайдбара и контента */
.container {
    display: flex;
    height: 100%;
    padding-left: 40px;
}

/* Сайдбар */
.sidebar {
    position: fixed;
    left: 20px;
    top: 10px;
    bottom: 10px;
    width: 150px;
    background-color: var(--background-item);
    border-radius: var(--radius-item);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

    .sidebar hr {
        border: 0;
        border-top: 2px solid;
        border-color: var(--line-color);
        width: 100%;
        margin: 0px 0; /* Отступы сверху и снизу */
    }

    body.light-mode .sidebar {
        background-color: var(--background-item-light);
        box-shadow: var(--shadow-light);
    }

    body.light-mode .sidebar hr{
        border-color: var(--line-color-light);
    }

.bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Прижимает все элементы к низу */
}
top-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Прижимает все элементы к низу */
}

/* Кнопки в сайдбаре */
.menu-item {
    background-color: var(--background-item);
    color: var(--text-color);
    height: 50px;
    border: none;
    border-radius: var(--radius-item);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

    .menu-item:hover {
        background-color: #666;
    }

    body.light-mode .menu-item{
        background-color: var(--background-item-light);
        color: var(--text-color-light);
    }

        body.light-mode .menu-item:hover {
            background-color: #c2c2c2;
        }

.top-item {
    margin-bottom: 1px;
}

.bottom-item {
    margin-top: auto;
}

/* Текст в сайдбаре */
.sidebar p {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 15px;
}

/* Изображения в сайдбаре */
.sidebar img {
    margin-left: auto;
    padding-right: 10px;
    width: 30px;
    height: auto;
}

.main-data {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}

.top-part {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-part {
    background: var(--background-item);
    box-shadow: var(--shadow);
    border-radius: var(--radius-item);
    width: 99%;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

body.light-mode .bottom-part {
    background: var(--background-item-light);
    box-shadow: var(--shadow-light);
}

/* Контейнер для аватарки */
.avatar-container {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--margin-size);;
}

/* Аватарка */
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid var(--background-item);
    background: var(--background-item);
    box-shadow: var(--shadow);
}

body.light-mode .avatar{
    border-color: var(--background-item-light);
    background: var(--background-item-light);
    box-shadow: var(--shadow-light);
}

/* Прямоугольная область */
.info-box {
    background-color: var(--background-item);
    border-radius: var(--radius-item);
    box-shadow: var(--shadow);
    margin-top: var(--margin-size);
    margin-left: var(--margin-size);
    width: 135vh;
    height: 200px;
}
    .info-box p {
        margin-bottom: 0rem;
    }

    .info-box hr {
        border: 0;
        border-top: 2px solid;
        border-color: var(--line-color);
        width: 100%;
        margin: 0px 0; /* Отступы сверху и снизу */
    }
    #name{
        font-size: 35px;
        color: var(--text-color);
        padding: 10px;
        font-weight: bold;
    }

    body.light-mode .info-box{
        background-color: var(--background-item-light);
        box-shadow: var(--shadow-light);
    }

    body.light-mode #name{
        color: var(--text-color-light);
    }

    body.light-mode .info-box hr {
        border-color: var(--line-color-light);
    }
.text-container {
    display: flex; /* Включаем Flexbox */
    gap: 10px; /* Расстояние между текстами */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-1, .text-2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

body.light-mode .text-1{
    color: var(--text-color-light);
}

body.light-mode .text-2 {
    color: var(--text-color-light);
}

