:root {
    --background-account: #0e0e0e;
    --background-item: #212020;
    --radius-item: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Контейнер для элементов аккаунта */
.container {
    display: flex;
    height: 100%;
    padding: 10px;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--background-account);
}


/* Сайдбар */
.sidebar {
    position: fixed;
    left: 30px;
    top: 20px;
    bottom: 20px;
    width: 48px; /* Ширина меню */
    border-radius: var(--radius-item);
    background-color: var(--background-item);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Это позволяет кнопкам быть прижатыми к верху и низу */
    align-items: stretch; /* Чтобы кнопки занимали всю ширину */
    padding: 10px 0;
}

.menu-item {
    background-color: var(--background-item);
    color: white;
    height: 48px; /* Высота кнопки */
    border: none;
    border-radius: var(--radius-item);
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%; /* Кнопки занимают всю ширину сайдбара */
    transition: background-color 0.3s;
}

    .menu-item:hover {
        background-color: #666;
    }

.top-item {
    margin-bottom: 5px; /* Отступ между верхними кнопками */
}

.bottom-item {
    margin-top: auto; /* Эта кнопка прижмётся к низу */
}

/* Блок с аватаркой */
.avatar-container {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.avatar {
    width: 200px;
    height: 200px;
    background-color: var(--background-item);
    border-radius: var(--radius-item);
    object-fit: cover;
    border: 2px solid var(--background-item);
}