:root {
    --background-account: linear-gradient(to top, #004D40, #0e0e0e);
    --background-item: #212020;
    --radius-item: 10px;
    --font: Roboto, sans-serif;
    --shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    --margin-size: 10px;
    --text-color: white;
}

/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной стиль для body */
body {
    font-family: var(--font);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--background-account);
}

/* Контейнер для сайдбара и контента */
.container {
    display: flex;
    height: 100%;
    padding-left: 40px;

}

/* Сайдбар */
.sidebar {
    position: fixed;
    left: 20px;
    top: 10px;
    bottom: 10px;
    width: 150px;
    background-color: var(--background-item);
    border-radius: var(--radius-item);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 10px 0; /* Убираем лишний padding, чтобы кнопки не вылезали за пределы */
}

/* Кнопки в сайдбаре */
.menu-item {
    background-color: var(--background-item);
    color: var(--text-color);
    height: 50px;
    border: none;
    border-radius: var(--radius-item);
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

    .menu-item:hover {
        background-color: #666;
    }

.top-item {
    margin-bottom: 1px;
}

.bottom-item {
    margin-top: auto;
}

/* Текст в сайдбаре */
.sidebar p {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 15px;
}

/* Изображения в сайдбаре */
.sidebar img {
    margin-left: auto;
    padding-right: 10px;
    width: 30px;
    height: auto;
}

.main-data {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}

.top-part {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-part {
    background: var(--background-item);
    box-shadow: var(--shadow);
    border-radius: var(--radius-item);
    width: 99%;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

/* Контейнер для аватарки */
.avatar-container {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--margin-size);;
}

/* Аватарка */
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid var(--background-item);
    background: var(--background-item);
    box-shadow: var(--shadow);
}

/* Прямоугольная область */
.info-box {
    background-color: var(--background-item);
    border-radius: var(--radius-item);
    box-shadow: var(--shadow);
    margin-top: var(--margin-size);
    margin-left: var(--margin-size);
    width: 135vh;
    height: 200px;
}

    #name{
        font-size: 35px;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
    }

.text-container {
    display: flex; /* Включаем Flexbox */
    gap: 10px; /* Расстояние между текстами */
    padding-left: 10px;
    padding-bottom: 10px;
}
.text-1, .text-2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}