/* Определим основные переменные для цветов */
:root {
    /*Стили для тёмной темы*/
    --primary-color: #148f2b;
    --hover-color: #63dd64;
    --background-gradient: linear-gradient(to top, #004D40, #0e0e0e);
    --input-border-color: #148f2b;
    --input-focus-border-color: #63dd64;
    --text-color: #FFFFFF;
    --placeholder-color: #CCCCCC;
    /*Стили для светлой темы*/
    --background-account-light: linear-gradient(to top, white, #08a652);
    --text-color-light: #000000;
    --button-color-lite: #0055ee;
    --button-hover-color-lite: #5464e6;
    --placeholder-color-lite: #757575;
    --input-border-color-lite: #3d3d3d;
    --input-focus-border-color-lite: #7a7a7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--background-gradient);
    display: flex;
    justify-content: flex-start; /* Выровнять элементы по левому краю */
    align-items: center; /* Центрируем элементы по вертикали */
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px; /* Отступы по бокам */
}

    body.light-mode {
        background: var(--background-account-light);
    }

.authorisation_form {
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: flex-start; /* Выровнять элементы по левому краю */
    margin-top: 50px; /* Отступ сверху, чтобы элементы не прилипали к верхнему краю */
    width: 100%; /* Делаем форму широкой */
    max-width: 500px; /* Ограничиваем максимальную ширину */
}

.text_logo {
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
body.light-mode .text_logo{
    color: var(--text-color-light);
}

input[type="text"], input[type="password"] {
    width: 100%; /* Поля ввода растягиваются на всю ширину формы */
    height: 60px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 24px;
    color: var(--text-color);
    background: transparent;
    border: 2px solid var(--input-border-color);
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
}

input::placeholder {
    color: var(--placeholder-color);
}

body.light-mode input[type="text"] {
    color: var(--text-color-light);
    border-color: var(--input-border-color-lite);
}

body.light-mode input[type="password"] {
    color: var(--text-color-light);
    border-color: var(--input-border-color-lite);
}

body.light-mode input::placeholder{
    color: var(--placeholder-color-lite);
}

body.light-mode input:focus{
    border-color: var(--input-focus-border-color-lite);
}

button {
    width: 35%; /* Кнопка растягивается на всю ширину формы */
    height: 65px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    button:hover,
    button:active {
        background-color: var(--hover-color);
    }

    button:active {
        border: 2px solid var(--text-color);
    }

body.light-mode button {
    background-color: var(--button-color-lite);

}
    body.light-mode button:active {
        background-color: var(--button-hover-color-lite);
    }
    body.light-mode button:hover {
        background-color: var(--button-hover-color-lite);
    }
