.role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1%;
}

.role h4 {
    text-align: justify;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font);
    padding-top: 1%;
}

body.light-mode .role h4 {
    color: var(--text-color-light);
}

.role button {
    background-color: var(--background-item);
    color: var(--text-color);
    border: none;
    border-radius: var(--radius-item);
    transition: background-color 0.3s;
    margin: 0.5%;
    box-shadow: var(--shadow);
    width: 15%;
}

    .role button:hover {
        background-color: #666;
    }

.role p {
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font);
    font-size: 15px;
    padding-top: 15px;
}

body.light-mode .role button {
    background-color: var(--background-item-light);
    color: var(--text-color-light);
    box-shadow: var(--shadow-light);
}

    body.light-mode .role button:hover {
        background-color: #c2c2c2;
    }

body.light-mode .role p {
    color: var(--text-color-light);
}

.user_roles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    width: 99%;
    background-color: var(--background-item);
    color: var(--text-color);
    border: none;
    border-radius: var(--radius-item);
    box-shadow: var(--shadow);
    margin-bottom: 1.5%;
}

    .user_roles label {
        
    }

.p_role {
    text-align: justify;
    color: var(--text-color);
    font-family: var(--font);
    padding-top: 1.5%;
    margin-left: 1%;
    font-size: 20px;
    font-weight: bold;
}

.button_role {
    background-color: var(--background-item);
    color: var(--text-color);
    border: none;
    border-radius: var(--radius-item);
    transition: background-color 0.3s;
    margin: 0.5%;
    height: 99%;
    font-size: 26px;
    font-weight: bold;
    margin-right: 0%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_role:hover {
    background-color: #666;
}