:root {
    /*Стили для тёмной темы*/
    --background-account: linear-gradient(to top, #0e0e0e, #004D40);
    --background-item: #212020;
    --text-color: white;
    --shadow: 4px 4px 10px #08a652;
    --line-color: #08a652;
    /*Постоянная часть стилей*/
    --radius-item: 10px;
    --font: Roboto, sans-serif;
    --margin-size: 10px;
    /*Стили для светлой темы*/
    --background-account-light: linear-gradient(to top, white, #08a652);
    --background-item-light: #f2f2f3;
    --text-color-light: #000000;
    --shadow-light: 4px 4px 10px #6c6767;
    --line-color-light: #808080;
}

/* Основной стиль для body */
body {
    font-family: var(--font);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--background-account);
}

    body.light-mode {
        background: var(--background-account-light);
    }