:root {
    /*Стили для тёмной темы*/
    --hr-color: #08a652;
    /*Постоянная часть стилей*/
    /*Стили для светлой темы*/
    --hr-color-light: #6c6767;
}

.main-data h1 {
    font-size: 50px;
    text-align: justify;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font);
}

body.light-mode .main-data h1 {
    color: var(--text-color-light);
}

.main-data hr {
    border: 0;
    border-top: 2px solid;
    color: var(--hr-color);
    width: 150vh;
    margin: 0px 0; /* Отступы сверху и снизу */
}

body.light-mode .main-data hr {
    color: var(--hr-color-light);
}

.user_table {
    background: var(--background-item);
    box-shadow: var(--shadow);
    border-radius: var(--radius-item);
    width: 99%;
    margin-top: 1%;
}

    .user_table th {
        padding: 2%;
        border: 2px solid var(--hr-color);
    }

        /* Убираем внешние границы */
        .user_table th:first-child {
            border-left: none;
        }

        .user_table th:last-child {
            border-right: none;
        }

    .user_table tr:first-child th {
        border-top: none;
    }

    .user_table tr:last-child th {
        border-bottom: none;
    }

.main-data tr {
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font);
}


.first-column {
    width: 15%;
}

.second-column {
    width: 14%;
}

.third-column{

}

.fourth-column {
    width: 19%;
}

.fifth-column {
    width: 18.5%;
}

.sixth-column{

}